<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="..\..\static\css\style.css" />
    <link rel="icon" type="image/x-icon" href="..\static\images\favicon.png" />
    <title>confessions.com - Crime</title>
    <nav>
        <ul>
            <li><a href="top_crimes">Top Crimes</a></li>
            <li><a href="search_crimes">Search Crimes</a></li>
            <li><a href="submit_crimes">Submit Crimes</a></li>
            <li class="selected">Your Profile</li>
            <li><a><img src="..\static\images\logo.png" alt="logo" class="logo"></a></li>
        </ul>
    </nav>
</head>

<body>
    <h1 class="tc">Your Profile</h1><br>
    <h4 class="tc">Edit and view your profile!</h3><br><br><br><br>
        <p style="margin-left: 140px;">You are not currently signed in. Click here to <a href="/login"
                style="text-decoration: underline;">login</a>
            and browse confessions.com with an
            account.</p>
</body>

</html>